html, body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 700;
}

p, ul, li, ol, input, textarea, button {
  font-weight: 400;
  font-size: 18px;
}

/* hide contents until we know if user is signed in or not */
body .hoodie-account-signedin,
body .hoodie-account-signedout,
body .hoodie-account-error,
body .hoodie-on-sign-in {
  display: none;
}

html[data-hoodie-account-status=signedin]  .hoodie-account-signedin,
html[data-hoodie-account-status=error]     .hoodie-account-error,
html[data-hoodie-account-status=signedout] .hoodie-account-signedout {
  display: block;
}

input[type=text] {
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input[type=text]:focus {
  border-color: #11bbee;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.navbar {
  margin-bottom: 0;
}

.alert {
  margin-bottom: 0px;
  margin-top: 15px;
}

ul#todolist {
  margin: 0 0 10px;
  padding: 0;
}

#todolist li {
  list-style-type: none;
}

#todolist li input[type=checkbox] {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  height: 34px;
  padding: 6px 12px;
  margin: 0px 0px 5px;
  font-size: 14px;
  line-height: 1.42857143;
}

#todolist li input[type=text] {
  display:none
}

#todolist li.editing input[type=text] {
  display: inline-block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#todolist li.editing input[type=text]:focus {
  border-color: #11bbee;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#todolist li.editing input[type=text]::-moz-placeholder {
  color: #999;
  opacity: 1;
}

#todolist li.editing input[type=text]:-ms-input-placeholder {
  color: #999;
}

#todolist li.editing input[type=text]::-webkit-input-placeholder {
  color: #999;
}

#todolist li.editing label {
  display: none;
}

#todolist li label {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
}

#username-signed-in {
  color: #333;
  text-transform: capitalize;
}

.btn-fancy {
  background: #11bbee;
  color: #fff;
  border: none;
}

.btn-fancy:hover {
  background: #0FA8D6;
  color: #fff;
  border: none;
}

.btn-who {
  background: #118BEE;
  color: #fff;
  border: none;
}

.btn-who:hover {
  background: #0F7AD1;
  color: #fff;
  border: none;
}

.page-subheader {
  padding-bottom: 40px;
}

.img-center {
  margin: 0 auto;
  text-align: center;
  max-height: 600px !important;
  margin-top: 15px;
}

.slider {
  margin: 0;
  padding: 0;
}

.slide {
  /* thx jQuery */
}

.slide-1 {
  min-height: 90vh;
  background: #fff;
}

.slide-2 {
  min-height: 90vh;
  background: #fdfdfd;
}

.slide-3 {
  min-height: 90vh;
  background: #fff;
}

.slide-4 {
  min-height: 90vh;
  background: #fdfdfd;
}

.slick-prev {
  left: 8px;
}

.slick-next {
  right: 8px;
}

.slick-prev:before, .slick-next:before {
  color: #555;
}